<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
    
        <!-- Custom fonts for this template-->
        <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"> -->
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
        <!-- Bootswatch Darkly (Bootstrap 5) -->
        <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/darkly/bootstrap.min.css" rel="stylesheet">
        <script src='../js/calendar/dist/moment/index.global.min.js'></script>
        <script src='../js/calendar/dist/index.global.js'></script>
        <script src='../js/calendar/dist/es.global.js'></script>
        <!-- Custom styles for this template-->
        <link href="../css/sb-admin-2.css?kvs=6.11" rel="stylesheet">
        <link href="../css/custom.css?kvs=6.11" rel="stylesheet">
        <link href="../vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">        
    
        <style>

            html, body {
              overflow: hidden; /* don't do scrollbars */
              font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
              font-size: 14px;
            }
          
            #calendar-container {
              position: fixed;
              top: 45px;
              left: 0;
              right: 0;
              bottom: 0;
            }
          
            .fc-header-toolbar {
              /*
              the calendar will be butting up against the edges,
              but let's scoot in the header's buttons
              */
              padding-top: 1em;
              padding-left: 1em;
              padding-right: 1em;
            }
        
        .dvDatosCita{
            display: none;
        }
        .colData{
            font-weight: bold;
            text-align: left;
        }

        .fc .fc-timegrid-slot {
            height: 3.8em;
        }


        /* Fondo general del calendario */
.fc {
    background-color: #222 !important;
    color: #fff !important;
}

/* Fondo de las celdas */
.fc-theme-standard td,
.fc-theme-standard th {
    background-color: #2b2b2b !important;
    border-color: #444 !important;
}

/* Cabecera */
.fc-col-header-cell {
    background-color: #1e1e1e !important;
}

/* Día actual */
.fc-day-today {
    background-color: #3a3a3a !important;
}

/* Eventos */
.fc-event {
    border: none !important;
}
.fc-col-header-cell-cushion {
    color: #fff !important;
}
          </style>
        
    </head>
 
<body id="page-top">
    <div class="dvLoader">
        <div class="dvLoaderContenido">
            <div class="spinner-border d-flex" role="status">
            </div>
            <p>Cargando</p>
        </div>
    </div>    
    <!-- Page Heading -->
  
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Citas</h1>              
    </div>
    <div class="card shadow mb-4">
        <div id='calendar-container'>
              <div class="rowSucursal align-items-center justify-content-between mb-4">
                <div class="row">
                    <div class="col-auto">
                        <label>Sucursal:</label>
                        <select class="ddlSucursalFiltro" id="ddlSucursalFiltro">
                            <option value="" selected>Ambas</option>
                            <option value="WbZ7Uj46y6wP2MEox6p1">Kiox del valle</option> 
                            <option value="2E6EoRBZYkZWxBTZH6Wp">Kiox Lindavista</option>                                               
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Paciente:</label>
                        <input type="text" id="txtEmpleadoGeneralFiltro" class="txtEmpleadoGeneralFiltro" style="width: 50vw;" autocomplete="one-time-code"/>                
                        <button type="button" class="btn btn-danger btnBorrarFiltro float-right">Borrar</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <button type="button" class="btn btn-info btnNewPatient btnEdicion float-right">Agregar paciente</button>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-primary btnConfirmAppointments btnEdicion float-right">Confirmar citas</button>
                    </div>
                </div>
            </div>
            <div style="height:100%; overflow: auto;">
                <div id='calendar' class="calendar"></div>
            </div>
          </div>
    </div>
  
    <div id="modalNewDate" class="modal modalNewDate fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cita</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="dvMensajePopUp" style="height: 100%;"></div>
              <div class="modal-body">
                <div>
                    <div class="row">
                        <div class="col">
                            <label>Paciente:</label>
                            <input type="text" id="txtEmpleadoGeneral" class="form-control txtEmpleadoGeneral inputCapture" style="width: 500px;" autocomplete="one-time-code"/>
                            <p id="pEmpleadoGeneral" class="form-control pEmpleadoGeneral inputDetail" style="width: 500px;" autocomplete="one-time-code"></p>
                        </div>
                    </div>
                    <div class="row rowSucursal">              
                        <div class="col">
                            <label>Sucursal:</label>
                            <select class="form-control ddlSucursal" id="ddlSucursal">
                                <option value=""></option>
                                <option value="WbZ7Uj46y6wP2MEox6p1">Kiox del valle</option> 
                                <option value="2E6EoRBZYkZWxBTZH6Wp">Kiox Lindavista</option>                                               
                            </select>
                          </div>
                    </div>
                    <div class="row rwFisioterapeuta">
                        <div class="col">
                            <label>Fisioterapeuta:</label>
                            <select class="form-control ddlEmpleados inputCapture" id="ddlEmpleados"></select>
                            <p id="pEmpleado" class="form-control pEmpleado inputDetail" style="width: 250px;" autocomplete="one-time-code"></p>
                        </div>
                    </div>
                    <div class="dvDatosContacto">
                        <div class="row">
                            <div class="col">
                                <label>Teléfono:</label>
                                <p class="pTelefono colData form-control" style="width: 150px;"></p>    
                            </div>
                            <div class="col">
                                <label>Correo:</label>
                                <p class="pCorreo colData form-control" style="width: 300px;"></p>    
                            </div>
                        </div>
                    </div>
                        <div class="row">
                            <div class="col">
                                <label>Categoría:</label>
                                <select class="form-control ddlCategoria inputCapture" id="ddlCategoria"></select>
                                <p id="pCategoria" class="form-control pCategoria inputDetail" style="width: 250px;" autocomplete="one-time-code"></p>
                            </div>
                            <div class="col">
                                <label>Servicio:</label>
                                <select class="form-control ddlServicio inputCapture" id="ddlServicio"></select>
                                <p id="pServicio" class="form-control pServicio inputDetail" style="width: 250px;" autocomplete="one-time-code"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>Fecha:</label>
                                <input type="date" class="form-control txtFechaCita inputCapture" id="txtFechaCita" maxlength="10" style="width: 150px;">
                                <p id="pFechaCita" class="form-control pFechaCita inputDetail" style="width: 150px;" autocomplete="one-time-code"></p>
                            </div>
                            <div class="col">
                                <label>Hora:</label>
                                <div class="row">
                                    <div class="col">
                                        <input type="time" class="form-control txtHoraInicioCita inputCapture" id="txtHoraInicioCita" maxlength="10" step="3600" style="width: 150px;">
                                        <p id="pHoraInicioCita" class="form-control pHoraInicioCita inputDetail" style="width: 150px;" autocomplete="one-time-code"></p>
                                    </div>
                                    <div class="col">
                                        <input type="time" class="form-control txtHoraFinCita inputCapture" id="txtHoraFinCita" maxlength="10" step="3600" style="width: 150px;">
                                        <p id="pHoraFinCita" class="form-control pHoraFinCita inputDetail" style="width: 150px;" autocomplete="one-time-code"></p>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col">
                                <label>Nota:</label>
                                <textarea id="txtNotaCita" class="form-control txtNotaCita inputCapture" style="resize: none;" rows="3" style="width: 500px;" autocomplete="one-time-code"></textarea>
                                <p id="pNotaCita" class="pNotaCita inputDetail" style="width: 500px;" autocomplete="one-time-code"></p>
                            </div>
                        </div>                   
                </div>
            </div>            
            <div class="msjCitaPendiente alert alert-warning" role="alert">Aún tienes una cita sin terminar, no puedes iniciar otra hasta que la termines</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-danger btnCancelAppointment">Cancelar cita</button>                
                <button type="button" class="btn btn-success btnPaidAppointment">Cita pagada</button>
                <button type="button" class="btn btn-info btnStartAppointment">Iniciar cita</button>
                <button type="button" class="btn btn-primary btnAcceptAppointment">Aceptar</button>
            </div>
          </div>
        </div>
      </div>

      <div id="modalRecepcion" class="modal modalRecepcion fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cita</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="dvMensajePopUp" style="height: 100%;"></div>
              <div class="modal-body">
                <div>
                    <div class="row">
                        <div class="col">
                            <b><p id="pEmpleadoGeneral" class="pEmpleadoGeneral"></p></b>
                        </div>
                    </div>
                </div>
            </div>            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary btnAcceptArrived">Aviso de llegada</button>
            </div>
          </div>
        </div>
      </div>
      
      <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
      <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-app.js"></script>
      <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-firestore.js"></script>
      <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-storage.js"></script>
      <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-database.js"></script>
      <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-auth.js"></script>
      <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-analytics.js"></script>
      <script src="../methods/conexiones.js?kvs=6.11"></script>    
      <script src="../methods/Globals.js?kvs=6.11"></script>
      <script src="../methods/empleados.js?kvs=6.11"></script>
      <script src="../methods/Pacientes.js?kvs=6.11"></script>
      <script src="../methods/categorias.js?kvs=6.11"></script>
      <script src="../methods/servicios.js?kvs=6.11"></script>
      <script src="../methods/IngresosEgresos/paquetes.js?kvs=6.11"></script> 
      <script src="../methods/citas.js?kvs=6.11"></script>     
      <script src="../methods/seguimientoCita.js?kvs=6.11"></script>
      <script src="../methods/utilidades.js?kvs=6.11"></script>
      <script src="../methods/dbManager.js?kvs=6.11"></script>
        <script>
            
             $(document).ready(async function(){        
                var datosCuentaUsusario = JSON.parse(sessionStorage.sesionUsuario);
                await SeleccionarDatosPacientes();
                await SeleccionarDatosPaquetes();
                //generarCalendario();
                await SeleccionarDatosCitas();
                await SeleccionarDatosCategorias("dropdown");
                await SeleccionarDatosEmpleados("dropdown");
                $(".btnBorrarFiltro").hide();
                parent.lstServicesGlobal = {};
                parent.lstServicesFiltroGlobal = [];
                await SeleccionarDatosServicios();
            });                           
        </script>
</body>    
                   